<div class="container">

  <div class="row py-5 my-5">
    <div class="col-12 mx-auto py-5 my-5 text-center">
      <h4 class="mb-3"><strong>About</strong></h4>
      <h5 class="mb-1">ながのCAKEは全国発送可能なケーキ屋さんです。</h5>
      <h5 class="mb-1">お⼦様からお年寄りの⽅までお召し上がりいただけるよう、</h5>
      <h5 class="mb-1">様々なバリエーションをご⽤意しております。</h5>
      <h5 class="mb-1">また、全国へ発送可能ですので「どこ」でもご注⽂いただけます。</h5>
      <h5 class="mb-1">ぜひご注⽂ください。</h5>
    </div>
  </div>

</div>