<div class="container" style="min-width: 550px;">

  <div class="row py-5 my-5">
    <div class="col-12 mx-auto pb-4 px-0 mb-4 text-center">
      <h4 class="mb-3"><strong>About</strong></h4>
      <h5 class="mb-1">ながのCAKEは全国発送可能なケーキ屋さんです。</h5>
      <h5 class="mb-1">お⼦様からお年寄りの⽅までお召し上がりいただけるよう、</h5>
      <h5 class="mb-1">様々なバリエーションをご⽤意しております。</h5>
      <h5 class="mb-1">ぜひご注⽂ください。</h5>
    </div>
    <div class="mx-auto">
      <%= link_to root_path do %>
        <%= image_tag('NaganoCake_lg.png') %>
      <% end %>
    </div>
  </div>


</div>